$body-color: blue;
html {
	body {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		h1 {
			color: red;
			font-size: 40px;
		}
		.Task3 {
			color: $body-color;

			p {
				font-size: 20px;
			}

			h2 {
				font-size: 20px;
			}
		}
		.Task4 {
			font-size: 60.5%;
			box-sizing: border-box;
			float: left;

			.calculator {
				border: 1px solid #ccc;
				border-radius: 5px;
				width: 400px;
			}

			.calculator-screen {
				width: 93%;
				font-size: 5rem;
				height: 80px;
				border: none;
				background-color: #252525;
				color: #fff;
				text-align: right;
				padding-right: 20px;
				padding-left: 10px;
			}

			button {
				height: 60px;
				background-color: #fff;
				border-radius: 3px;
				border: 1px solid #c4c4c4;
				background-color: transparent;
				font-size: 2rem;
				color: #333;
				background-image: linear-gradient(
					to bottom,
					transparent,
					transparent 50%,
					rgba(0, 0, 0, 0.04)
				);
				box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
					inset 0 1px 0 0 rgba(255, 255, 255, 0.45), inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
					0 1px 0 0 rgba(255, 255, 255, 0.15);
				text-shadow: 0 1px rgba(255, 255, 255, 0.4);
			}

			button:hover {
				background-color: #eaeaea;
			}

			.operator {
				color: #337cac;
			}

			.all-clear {
				background-color: #c62828;
				border-color: #a51616;
				color: #fff;
			}

			.all-clear:hover {
				background-color: #8e0000;
			}

			.equal-sign {
				background-color: #00c853;
				border-color: darkgreen;
				color: #fff;
				height: 100%;
				grid-area: 2 / 4 / 6 / 5;
			}

			.equal-sign:hover {
				background-color: #009624;
			}

			.calculator-keys {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-gap: 20px;
				padding: 20px;
			}
		}

		#Task5 {
			#myButtons {
				button {
					display: inline-block;
					padding: 15px 25px;
					font-size: 24px;
					cursor: pointer;
					text-align: center;
					color: #fff;
					background-color: #8b3084;
					border-radius: 15px;
					border-color: #b350aa;
					box-shadow: 0 9px rgb(122, 73, 100);
				}
			}
		}
	}
}
